@charset "UTF-8";
/*! GW2006 <https://github.com/msikma/gw2006> */
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
/*
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}*/
/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:root {
  --gw-background: #A9B2CB;
  --gw-outline: #0B198C;
  --gw-inner-blue: #CED7E8;
  --gw-inner-dark: #D1D1E1;
  --gw-inner-medium: #DFE0EC;
  --gw-inner-light: #EDF2F8;
  --gw-test: #e7eaf3;
  --gw-inner-negative: #728EBE;
  --gw-inner-negative-active: #4f6b9b;
  --gw-article-hr: #A9AEB7;
  --gw-box-header: #dfe7ff;
  --gw-header-color-a: #4b6ba6;
  --gw-header-color-b: #879bc0;
  --gw-text-regular: #000000;
  --gw-text-link: #22229C;
  --gw-text-hover: #FF4400;
  --gw-text-quote: #4F6095;
  --gw-text-header: #3D3F46;
  --gw-text-special-header: #6B8EAE;
  --gw-text-spoiler: #002448;
  --gw-text-light-hover: #FFFF66;
  --gw-line-chart-top: #22229C;
  --gw-line-chart-bottom: #CED7E8;
  --gw-stats-pie-empty: #CED7E8;
  --gw-stats-pie-full: #22229C;
  --gw-text-light: #696a7c;
  --gw-header-cell-height: 1.875rem;
  --gw-subheader-cell-height: 1.625rem;
  --gw-font-regular: 0.8333rem;
  --gw-font-huge: 1.625rem;
  --gw-font-large: 1.25rem;
  --gw-font-small: 0.6875rem;
  --gw-line-height-large: 1rem;
  --gw-article-line-height: 1.2rem;
  --gw-object-table-line-height: 1.375rem;
  --gw-font-primary: "Verdana", "Geneva", "Arial", "Helvetica Neue", sans-serif;
  --gw-font-code: "Menlo", "courier new", helvetica, "times new roman", serif;
  --gw-content-margin: 15px;
  --gw-notification-warning-color: #603b0f;
  --gw-notification-warning-background: #ffd16f;
  --gw-notification-warning-border: #fff9f1;
  --gw-notification-danger-color-bold: #3c0a0d;
  --gw-notification-danger-color: #510d11;
  --gw-notification-danger-background: #f79799;
  --gw-notification-danger-border: #ffdbdb;
  --gw-notification-info-color: #16306a;
  --gw-notification-info-background: #88bee8;
  --gw-notification-info-border: #f6fcff;
  --gw-notification-success-color: #1e4a1e;
  --gw-notification-success-background: #9ded9d;
  --gw-notification-success-border: #f4fff4;
  --gw-cell-form-content: 16px;
  --gw-cell-extra-padding: 12px;
  --gw-cell-large: 7px;
  --gw-cell-medium: 5px;
  --gw-cell-small: 3px;
  --gw-post-column-a: 180px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--gw-background);
  font-size: var(--gw-font-regular);
  font-family: var(--gw-font-primary);
  margin: 0 auto;
  padding: 0;
}

a {
  color: var(--gw-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--gw-text-hover);
}

img {
  border: 0;
}

#wrapper {
  padding: 17px 25px;
  width: 100% !important;
}

#content_section {
  margin-top: var(--gw-content-margin);
}

tt, code {
  font-family: var(--gw-font-code);
}

button {
  padding-left: 4px;
  padding-right: 4px;
}

.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

span.quoted::before {
  content: "“";
}

span.quoted::after {
  content: "”";
}

.attachments .attachment {
  margin: 4px 0;
}

.attachments .attachment .line a {
  text-decoration: none;
}

.attachments .attachment .line a .name {
  text-decoration: underline;
}

.attachments .attachment .line .metadata {
  font-size: var(--gw-font-small);
}

.attachments .attachment .line .metadata::before {
  content: "(";
}

.attachments .attachment .line .metadata::after {
  content: ")";
}

.attachments .attachment .line img {
  display: inline-block;
  vertical-align: bottom;
}

.attachments .attachment .preview.image a {
  display: inline-block;
}

.attachments .attachment .preview.image a img {
  display: block;
}

.attachments .object_table .attachment .filename {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 22px;
}

.attachments .object_table .attachment .filename a {
  display: inline-block;
}

.input_with_auto_suggestions {
  width: 280px;
}

.auto_suggest_div {
  position: absolute;
  width: 280px;
  border: 1px solid var(--gw-text-light);
  font-size: var(--gw-font-small);
  z-index: 90;
  padding: 0;
  font-weight: normal;
  background: white;
  margin-top: 0.25rem;
}
.auto_suggest_div::before {
  content: "";
  background: url("../images/__gwnew/arrow_dropmenu.svg");
  width: 18px;
  height: 9px;
  position: absolute;
  top: calc(-0.5rem - 1px);
  left: 0.5rem;
  z-index: 120;
}
.auto_suggest_div:empty {
  border: none;
}
.auto_suggest_div:empty::before {
  display: none;
}

.auto_suggest_item,
.auto_suggest_item_hover {
  display: block;
  border: 1px solid white;
  border-bottom-width: 2px;
  position: relative;
  color: var(--gw-text-link);
  padding: calc(var(--gw-cell-medium) - 1px) calc(var(--gw-cell-large) - 1px);
  cursor: pointer;
}
.auto_suggest_item::before,
.auto_suggest_item_hover::before {
  position: absolute;
  content: "";
  left: -1px;
  right: -1px;
  bottom: -2px;
  height: 1px;
  background: var(--gw-inner-dark);
}
.auto_suggest_item:last-child,
.auto_suggest_item_hover:last-child {
  border-bottom-width: 1px;
}
.auto_suggest_item:last-child::before,
.auto_suggest_item_hover:last-child::before {
  display: none;
}

.auto_suggest_item_hover {
  background: var(--gw-inner-medium);
  text-decoration: none;
  color: black;
}

.blue_component {
  border: 1px solid var(--gw-outline);
  padding: 1px;
  background: var(--gw-inner-dark);
}
.blue_component .light-text {
  color: var(--gw-text-light);
}
.blue_component .blue_component_section {
  padding: var(--gw-cell-medium) var(--gw-cell-small);
}
.blue_component .blue_component_section.blue_component_primary {
  padding: var(--gw-cell-medium);
}
.blue_component .blue_component_section.blue_component_large {
  padding: var(--gw-cell-large);
}
.blue_component .blue_component_section.blue_component_light + .blue_component_section.blue_component_light {
  border-top: 1px solid var(--gw-inner-medium);
}
.blue_component .blue_component_light {
  background: var(--gw-inner-light);
}
.blue_component .blue_component_medium {
  background: var(--gw-inner-medium);
}
.blue_component .blue_component_blue {
  background: var(--gw-inner-blue);
}
.blue_component .blue_component_negative {
  color: white;
  background: var(--gw-inner-negative);
}
.blue_component .blue_component_title {
  margin: 0;
  color: white;
  font-size: var(--gw-font-regular);
  padding: var(--gw-cell-large);
}
.blue_component .blue_component_title a {
  color: white;
  text-decoration: none;
}
.blue_component .blue_component_title a:hover {
  color: var(--gw-text-light-hover);
}
.blue_component .blue_component_title .subtitle {
  display: block;
  font-size: var(--gw-font-small);
  font-weight: normal;
  margin-top: 4px;
}
.blue_component .blue_component_title .subtitle.dark, .blue_component .blue_component_title .subtitle.light {
  display: block;
  font-size: var(--gw-font-small);
  font-weight: normal;
  margin-top: 4px;
  margin: calc(-1 * var(--gw-cell-large));
  background: var(--gw-inner-negative-active);
  padding: var(--gw-cell-large);
  border-top: 1px solidcssvar(--gw-inner-dark);
  margin-top: var(--gw-cell-large);
}
.blue_component .blue_component_title .subtitle.light {
  background: var(--gw-inner-light);
  color: black;
}
.blue_component .blue_component_header_cell {
  padding: 0;
}
.blue_component .blue_component_header_cell:not(:first-child) .blue_component_title {
  padding-left: var(--gw-cell-medium);
}
.blue_component.spaced_bottom {
  margin-bottom: var(--gw-content-margin);
}
.blue_component.spaced_top {
  margin-top: var(--gw-content-margin);
}
.blue_component .small {
  font-size: var(--gw-font-small);
}
.blue_component .button_row a {
  display: inline-block;
  text-decoration: none;
  margin-top: 2px;
}
.blue_component .button_row a img {
  display: block;
}
.blue_component .action_buttons {
  padding: 0;
  margin: 0;
}
.blue_component .action_buttons li {
  float: left;
  display: block;
}
.blue_component .action_buttons li a {
  margin-left: 4px;
}
.blue_component .action_buttons li a.post_action_text {
  line-height: 20px;
  padding: 0 3px 0 0;
  font-size: var(--gw-font-small);
}
.blue_component .action_buttons li a,
.blue_component .action_buttons li a img {
  display: block;
  text-decoration: none;
}

.blue_component_header {
  background: var(--gw-header-color-b) linear-gradient(180deg, var(--gw-header-color-a) 0%, var(--gw-header-color-b) 100%);
  background-size: 100% 36px;
  background-repeat: repeat-x;
  position: relative;
  text-align: left;
}
.blue_component_header + .blue_component_section {
  border-top: 1px solid var(--gw-inner-dark);
}
.blue_component_header .blue_component_buttons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.blue_component_header .blue_component_buttons .button_strip ul {
  display: flex;
  height: 100%;
}
.blue_component_header .blue_component_buttons .button_strip ul li .button_strip_form {
  display: flex;
  align-items: center;
}
.blue_component_header .blue_component_buttons .button_strip ul li .button_strip_form label {
  margin-right: 0.6ch;
}
.blue_component_header .blue_component_buttons .button_strip ul li a:hover {
  background-color: var(--gw-inner-negative-active);
}
.blue_component_header .blue_component_buttons .button_strip ul li span.static,
.blue_component_header .blue_component_buttons .button_strip ul li a {
  background: var(--gw-inner-negative);
  font-size: var(--gw-font-small);
  font-weight: bold;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  border-left: 1px solid var(--gw-inner-dark);
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
}
.blue_component_header .blue_component_buttons .button_strip ul li span.static span,
.blue_component_header .blue_component_buttons .button_strip ul li a span {
  margin-top: -1px;
}
.blue_component_header .blue_component_buttons .button_strip ul li span.static {
  font-weight: normal;
}

.object_list_frame + .blue_component_header {
  border-top: 1px solid var(--gw-inner-dark);
}

.object_list .spaced_top {
  margin-top: var(--gw-content-margin);
}
.object_list .spaced_bottom {
  margin-bottom: var(--gw-content-margin);
}

.white_box {
  background: white;
  padding: 1px;
  margin-top: var(--gw-content-margin);
  border: 1px solid var(--gw-outline);
  display: inline-block;
}

.white_box .white_box_header h4 {
  padding: calc(var(--gw-cell-medium) - 1px) calc(var(--gw-cell-large) - 1px);
  margin: 0;
  font-weight: normal;
  background: var(--gw-inner-negative);
  color: white;
}

.white_box .white_box_content {
  padding: calc(var(--gw-cell-medium) - 1px) calc(var(--gw-cell-large) - 1px);
}

.button_strip ul {
  margin: 0;
  padding: 0;
}

.button_strip ul li {
  display: inline-block;
}

.button_strip ul li a.button {
  display: block;
  width: 83px;
  height: 45px;
}

.button_strip.type_primary {
  margin-bottom: 6px;
  flex: 1 1;
}

.button_strip.type_primary ul li a.button {
  text-indent: -9999px;
}

.button_strip ul li a.button.button_new_topic {
  background-image: url("../images/__gwnew/buttons/new_topic.gif");
}

.button_strip ul li a.button.button_new_topic:hover {
  background-image: url("../images/__gwnew/buttons/new_topic_h.gif");
}

.button_strip ul li a.button.button_post_poll {
  background-image: url("../images/__gwnew/buttons/new_poll.gif");
}

.button_strip ul li a.button.button_post_poll:hover {
  background-image: url("../images/__gwnew/buttons/new_poll_h.gif");
}

.button_strip ul li a.button.button_add_poll {
  background-image: url("../images/__gwnew/buttons/add_poll.gif");
}

.button_strip ul li a.button.button_add_poll:hover {
  background-image: url("../images/__gwnew/buttons/add_poll_h.gif");
}

.button_strip ul li a.button.button_reply {
  background-image: url("../images/__gwnew/buttons/reply.gif");
}

.button_strip ul li a.button.button_reply:hover {
  background-image: url("../images/__gwnew/buttons/reply_h.gif");
}

.button_strip ul li a.button.button_notify,
.button_strip ul li a.button.button_markread {
  text-indent: 0;
}

.chart {
  display: block;
  min-width: 16px;
}
.chart svg {
  display: block;
}
.chart.activity_chart .bestfit {
  display: none;
}

.component_grid {
  display: flex;
  margin: 5px 0;
}

.component_grid .grid_item {
  flex: 1 1;
}

.component_grid .grid_item:not(:last-child) {
  padding-right: var(--gw-content-margin);
}

.component_grid .grid_item > .object_list:first-child {
  margin-top: 0;
}

.list_form dl {
  margin: 0;
  overflow: hidden;
}
.list_form dt {
  float: left;
  width: 45%;
  overflow: hidden;
  clear: both;
}
.list_form dt > span {
  display: block;
  font-size: var(--gw-font-small);
}
.list_form dt:not(:last-of-type) {
  margin-bottom: 10px;
}
.list_form dd {
  float: left;
}

.dropmenu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.dropmenu a {
  text-decoration: none;
}

.dropmenu li {
  padding: 0;
  margin: 0;
  position: relative;
}

.dropmenu > li > a {
  color: white;
  padding: 0 var(--gw-cell-large);
  font-size: var(--gw-font-small);
  line-height: var(--gw-header-cell-height);
  display: inline-block;
  font-weight: bold;
}

.dropmenu > li > ul {
  display: none;
  width: 16rem;
  z-index: 90;
  padding: 0;
  position: absolute;
  font-weight: normal;
  border: 1px solid var(--gw-text-light);
  background: white;
  margin-top: 0.25rem;
  font-size: var(--gw-font-small);
}

.dropmenu > li > ul > li > ul {
  padding: 0;
}

.dropmenu > li > ul > li > ul > li > a {
  padding-left: 26px;
}

.dropmenu > li:hover > ul {
  display: block;
}

.dropmenu > li:hover > a.with_submenu::after {
  content: "";
  background: url("../images/__gwnew/arrow_dropmenu.svg");
  width: 18px;
  height: 9px;
  position: absolute;
  bottom: calc(-0.25rem - 1px);
  left: calc(50% - 9px);
  z-index: 120;
}

.dropmenu > li > ul::after {
  content: "";
  background: none;
  height: calc(0.5rem - 1px);
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5rem;
  z-index: 150;
}

.dropmenu > li > ul > li {
  padding: 1px;
}

.dropmenu > li > ul > li:not(:last-child) {
  border-bottom: 1px solid var(--gw-inner-dark);
}

.dropmenu > li > ul li a {
  display: block;
  padding: calc(var(--gw-cell-medium) - 1px) calc(var(--gw-cell-large) - 1px);
}

.dropmenu > li > ul li a:hover {
  background: var(--gw-inner-medium);
  text-decoration: none;
  color: #000;
}

.submenu {
  border: 1px solid var(--gw-outline);
  background: var(--gw-inner-dark);
  padding: 1px;
}

.submenu.attached {
  border-top: none;
  margin-top: calc(var(--gw-content-margin) * -1 - 2px);
  margin-bottom: var(--gw-content-margin);
}

.submenu .dropmenu {
  background: var(--gw-inner-negative-active);
}

.submenu .dropmenu > li > a {
  line-height: var(--gw-subheader-cell-height);
}

.submenu.page_title .content {
  color: white;
  padding: 0 var(--gw-cell-large);
  font-size: var(--gw-font-small);
  font-weight: bold;
  background: var(--gw-inner-negative-active);
  line-height: var(--gw-subheader-cell-height);
}

.editor {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer_items {
  text-align: center;
  font-size: var(--gw-font-small);
  line-height: var(--gw-line-height-large);
}
.footer_items:not(:first-child) {
  margin-top: 6px;
}

.forum_hierarchy,
.forum_hierarchy ul {
  padding: 0;
  margin: 0;
}

.forum_hierarchy .category,
.forum_hierarchy .board {
  position: relative;
  background: url("../images/__gwnew/ui_icons/forum_list_category.gif");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 20px;
  line-height: 20px;
  height: 20px;
  display: block;
}

.forum_hierarchy .category {
  margin-top: 10px;
}

.forum_hierarchy li:first-child .category {
  margin-top: 0;
}

.forum_hierarchy .board {
  background-image: url("../images/__gwnew/ui_icons/forum_list_board.gif");
}

.forum_hierarchy .board.depth_0 {
  margin-left: 20px;
}

.forum_hierarchy .board.depth_1 {
  margin-left: 40px;
}

.forum_hierarchy .board.depth_2 {
  margin-left: 60px;
}

.forum_hierarchy .board.depth_3 {
  margin-left: 80px;
}

.forum_hierarchy .board.depth_4 {
  margin-left: 100px;
}

.forum_hierarchy .board.depth_5 {
  margin-left: 120px;
}

.forum_hierarchy .board.depth_6 {
  margin-left: 140px;
}

.forum_hierarchy .board.depth_7 {
  margin-left: 160px;
}

.forum_hierarchy .board.depth_8 {
  margin-left: 180px;
}

.forum_hierarchy .board.depth_9 {
  margin-left: 200px;
}

.forum_hierarchy .board.depth_10 {
  margin-left: 220px;
}

.forum_hierarchy .board.depth_11 {
  margin-left: 240px;
}

#header #upper_section {
  border-top: 1px solid var(--gw-inner-dark);
}
#header #upper_section .current_user_info {
  font-size: var(--gw-font-small);
}
#header #upper_section .current_user_info ul {
  padding: var(--gw-cell-small) 0 0 0;
  margin: 0;
  list-style-type: disc;
  list-style-position: inside;
}
#header #upper_section .user_welcome p {
  margin: 0;
  display: inline-block;
}
#header #upper_section .user_welcome p.username {
  font-weight: bold;
}
#header #menu_section {
  border-top: 1px solid var(--gw-inner-dark);
  display: flex;
}
#header #menu_section #main_menu {
  flex: 1 0;
}
#header #menu_section #header_search_form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header #menu_section #header_search_form_wrapper #header_search_form {
  display: flex;
  padding-right: var(--gw-cell-large);
}
#header #menu_section #header_search_form_wrapper #header_search_form input {
  all: revert;
  box-sizing: content-box;
  line-height: 1.5rem;
  height: calc(1.5rem - 4px);
  padding: 0;
}
#header #menu_section #header_search_form_wrapper #header_search_form input[type=submit] {
  all: revert;
  height: 1.5rem;
  padding: 0 0.5ch;
}

.key_value_table.dual_cols col {
  width: 25%;
}

.key_value_table .object_row .kv_key {
  width: 130px;
}
.key_value_table .object_row .kv_key .clamped {
  max-width: 120px;
}

.key_value_table.wide_keys .object_row .kv_key {
  width: 210px;
}
.key_value_table.wide_keys .object_row .kv_key .clamped {
  max-width: 200px;
}

.key_value_table .object_row .kv_key .clamped {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.key_value_table .object_row .kv_value {
  width: min-content;
}

.linktree ul {
  margin: 0;
  padding: var(--gw-cell-medium) var(--gw-cell-small);
}
.linktree li {
  display: inline-block;
}
.linktree li img {
  vertical-align: middle;
  margin-top: -3px;
}
.linktree li:last-child:not(:first-child) {
  display: block;
  margin-top: 1px;
}
.linktree li:last-child:not(:first-child) span {
  font-weight: bold;
}
.linktree li:nth-last-child(n+3)::after {
  content: ">";
  color: var(--gw-text-link);
}

.member_list .member {
  white-space: nowrap;
  display: inline-block;
}

.member_list .member a {
  display: inline-block;
}

.member_list .member:not(:last-child)::after {
  content: ", ";
  white-space: pre;
}

.member_strip {
  display: inline;
}

.member_strip > span,
.member_strip > a {
  display: inline-block;
  vertical-align: text-bottom;
}

.member_strip img {
  display: block;
  float: left;
}

.member_strip .username a {
  display: inline-block;
}

.member_strip .pips {
  position: relative;
}

.member_strip .pips.pip_type_lego {
  top: -1px;
}

.member_strip .pips.pip_type_pip {
  top: -3px;
}

.notification_component {
  border: 1px solid black;
  margin: 5px 0;
}
.notification_component .inner {
  border: 1px solid black;
  padding: var(--gw-cell-large) var(--gw-cell-large);
}
.notification_component .sub {
  margin-top: 2px;
  font-size: var(--gw-font-small);
}
.notification_component .sub:empty {
  margin-top: 0;
}
.notification_component .reasons {
  padding: 0;
  list-style: disc;
  margin: 0 0 0 20px;
  line-height: var(--gw-line-height-large);
}
.notification_component.type_danger .main {
  font-weight: bold;
  color: var(--gw-notification-danger-color-bold);
}
.notification_component.type_info {
  border-color: var(--gw-notification-info-color);
}
.notification_component.type_warning {
  border-color: var(--gw-notification-warning-color);
}
.notification_component.type_danger {
  border-color: var(--gw-notification-danger-color);
}
.notification_component.type_success {
  border-color: var(--gw-notification-success-color);
}
.notification_component.type_info .inner {
  color: var(--gw-notification-info-color);
  background-color: var(--gw-notification-info-background);
  border-color: var(--gw-notification-info-border);
}
.notification_component.type_warning .inner {
  color: var(--gw-notification-warning-color);
  background-color: var(--gw-notification-warning-background);
  border-color: var(--gw-notification-warning-border);
}
.notification_component.type_danger .inner {
  color: var(--gw-notification-danger-color);
  background-color: var(--gw-notification-danger-background);
  border-color: var(--gw-notification-danger-border);
}
.notification_component.type_success .inner {
  color: var(--gw-notification-success-color);
  background-color: var(--gw-notification-success-background);
  border-color: var(--gw-notification-success-border);
}

.forum_page_section {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -6px;
  justify-content: end;
}

.page_links_container {
  display: flex;
  margin-bottom: 6px;
}

.page_links_container + .page_links_container {
  margin-left: 6px;
}

.page_links {
  display: flex;
  font-size: var(--gw-font-small);
}

.page_links_container.location_bottom .page_links {
  align-self: start;
}

.page_links_container.location_top .page_links {
  align-self: end;
}

.page_links a {
  text-decoration: none;
}

.page_links .links_section {
  display: flex;
}

.page_links .links_section .link_item.skip::before {
  content: "…";
}

.page_links .links_section .link_item_first::before {
  content: "« ";
}

.page_links .links_section .link_item_last::after {
  content: " »";
}

.page_links .links_section .link_item {
  padding: var(--gw-cell-small) var(--gw-cell-medium);
}

.page_links .links_section .link_item.link_item_current {
  font-weight: bold;
}

.page_links .links_section .link_item:not(:last-child) {
  border-right: 1px solid var(--gw-inner-dark);
}

.pips img {
  padding-right: 1px;
}

#wrapper .post_text p {
  margin-bottom: 1em;
}
#wrapper .post_text > *:first-child {
  margin-top: 0;
}
#wrapper .post_text > *:last-child {
  margin-bottom: 0;
}
#wrapper .post_text h3 {
  font-size: var(--gw-font-huge);
  margin-top: 1em;
  margin-bottom: 1em;
}
#wrapper .post_text h4 {
  font-size: var(--gw-font-large);
  margin-top: 1em;
  margin-bottom: 1em;
}
#wrapper .post_text h5 {
  font-size: var(--gw-font-regular);
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0;
}
#wrapper .post_text dl:first-child dt {
  margin-top: 0;
}
#wrapper .post_text dt {
  font-weight: bold;
  margin-top: 0.5em;
}
#wrapper .post_text dd {
  margin-left: 1.5em;
}
#wrapper .post_text ul {
  padding-left: 3em;
  list-style: disc;
}
#wrapper .post_text ol {
  padding-left: 3em;
  list-style: decimal;
}
#wrapper .post_text li {
  line-height: 1.5em;
  height: 1.5em;
}
#wrapper .post_text .codeheader {
  color: var(--gw-text-header);
  background-color: var(--gw-box-header);
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: var(--gw-font-small);
  border: 1px solid var(--gw-inner-dark);
  border-bottom: 0px;
  padding: var(--gw-cell-medium);
  margin-top: 6px;
}
#wrapper .post_text .codeheader a {
  color: var(--gw-text-header);
  text-decoration: none;
}
#wrapper .post_text .codeheader .codeoperation {
  font-weight: normal;
  float: right;
}
#wrapper .post_text .codeheader + pre {
  background-color: var(--gw-test);
  border: 1px solid var(--gw-inner-dark);
  border-top: 0px;
  color: var(--gw-text-quote);
  margin-bottom: 8px;
  padding: var(--gw-cell-medium) !important;
  white-space: pre;
  font-family: var(--gw-font-code);
}
#wrapper .post_text .quoteheader {
  color: var(--gw-text-header);
  background-color: var(--gw-box-header);
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: var(--gw-font-small);
  border: 1px solid var(--gw-inner-dark);
  border-bottom: 0px;
  padding: var(--gw-cell-medium);
  margin-top: 6px;
}
#wrapper .post_text .quoteheader a {
  color: var(--gw-text-header);
  text-decoration: none;
}
#wrapper .post_text .quoteheader + blockquote {
  margin: 0;
  background-color: var(--gw-test);
  border: 1px solid var(--gw-inner-dark);
  border-top: 0px;
  color: var(--gw-text-quote);
  margin-bottom: 8px;
  padding: var(--gw-cell-medium) !important;
}
#wrapper .post_text .quoteheader + blockquote + .quotefooter {
  display: none;
}
#wrapper .post_text .bbc_table {
  background-color: var(--gw-test);
}
#wrapper .post_text .bbc_table th {
  background-color: var(--gw-box-header);
}
#wrapper .post_text .bbc_table th, #wrapper .post_text .bbc_table td {
  border: 1px solid var(--gw-inner-dark);
  padding: var(--gw-cell-small);
}
#wrapper .post_text .phpcode {
  font-family: var(--gw-font-code);
}

.post_line_height {
  line-height: var(--gw-article-line-height);
}

.post_emoticon_sets .emoticon_header {
  font-weight: bold;
  margin-bottom: var(--gw-cell-medium);
}
.post_emoticon_sets .iconset {
  margin-left: -2px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.post_emoticon_sets .iconset a {
  float: left;
  display: block;
  cursor: pointer;
  padding: 0 1px 3px 2px;
  margin-bottom: 2px;
}
.post_emoticon_sets .iconset a img {
  display: block;
}
.post_emoticon_sets .iconset .button_emoticons {
  font-size: var(--gw-font-small);
  margin-left: 8px;
  align-self: start;
}

.iconset {
  display: block;
  clear: both;
  overflow: hidden;
}

.posticon {
  display: block;
  float: left;
  padding: 0 10px 2px 0;
  cursor: pointer;
}
.posticon input {
  width: 15px;
  height: 15px;
  margin: 0 !important;
}
.posticon * {
  display: inline-block;
  vertical-align: text-bottom;
}

.source_table .source_line_number {
  text-align: right;
}
.source_table .source_line_number.target {
  border: 1px solid black;
  border-right: none;
}
.source_table .source_line {
  white-space: nowrap;
}
.source_table .source_line.target {
  border: 1px solid black;
  border-left: none;
}

.stats_component .header {
  width: 64px;
  text-align: center;
}

.stats_component .birthdays .name {
  font-weight: bold;
}

.stats_component .forum_stats_wrapper {
  display: flex;
  gap: 8px;
}

.stats_component .forum_stats_wrapper .item {
  flex: 1 1 33%;
}

.stats_component .forum_stats_wrapper .item.type_a {
  flex-basis: 62%;
}

.stats_component .forum_stats_wrapper .value {
  font-weight: bold;
}

.object_form input[type=checkbox],
.object_form input[type=radio] {
  margin: 3px 3px 3px 4px;
}
.object_form .form_input_row {
  display: flex;
}
.object_form .form_input_row.full_width input[type=text] {
  width: 100%;
  min-width: unset;
}
.object_form .form_input_row.full_width > .input_item_main {
  flex: 1 0;
}
.object_form .form_input_row > .input_item:not(:last-child),
.object_form .form_input_row > .input_item_main:not(:last-child) {
  padding-right: 6px;
}
.object_form .form_input_row > .input_item_main {
  flex: 0 0;
}
.object_form .form_input_row .help {
  line-height: 22px;
  display: inline-block;
}
.object_form .form_input_row .help img {
  vertical-align: middle;
  margin-top: -2px;
}
.object_form .form_row {
  margin: 16px 0;
}
.object_form .form_row:first-child {
  margin-top: 0;
}
.object_form .form_row:last-child {
  margin-bottom: 0;
}
.object_form .form_row .form_subrow {
  margin: 4px 0;
}
.object_form .input_description {
  font-size: var(--gw-font-small);
  padding-top: var(--gw-cell-medium);
}

.object_list {
  margin: 5px 0;
}
.object_list .object_list_frame {
  background: var(--gw-inner-medium);
}
.object_list .blue_component_header + .object_list_frame {
  margin-top: 1px;
}
.object_list .description {
  font-size: var(--gw-font-small);
  margin-top: 4px;
}
.object_list .object_row_list {
  margin: 0;
  padding: 0;
}

.text_icon_row img {
  display: inline-block;
  vertical-align: text-bottom;
  margin-bottom: -1px;
  margin-right: 3px;
}

.object_table {
  width: 100%;
}
.object_table .object_row .sort_col {
  outline: 1px solid red;
}
.object_table .object_row.indent_1 .indent_target {
  padding-left: 3ex;
}
.object_table .object_row.indent_2 .indent_target {
  padding-left: 6ex;
}
.object_table .object_row.indent_3 .indent_target {
  padding-left: 9ex;
}
.object_table .object_row.indent_4 .indent_target {
  padding-left: 12ex;
}
.object_table .object_row.indent_5 .indent_target {
  padding-left: 15ex;
}
.object_table .object_row.indent_6 .indent_target {
  padding-left: 18ex;
}
.object_table .object_row.indent_7 .indent_target {
  padding-left: 21ex;
}
.object_table .object_row.indent_8 .indent_target {
  padding-left: 24ex;
}
.object_table .object_row.indent_9 .indent_target {
  padding-left: 27ex;
}
.object_table .object_row.indent_10 .indent_target {
  padding-left: 30ex;
}
.object_table .object_row th,
.object_table .object_row td.form_row,
.object_table .object_row .form_text {
  line-height: var(--gw-object-table-line-height);
  vertical-align: top;
}
.object_table .object_row th[title] span {
  border-bottom: 1px dotted var(--gw-text-header);
}
.object_table .object_row.group_name {
  font-size: var(--gw-font-small);
}
.object_table .object_row.group_name th {
  padding: 0cssvar --gw-cell-medium;
}
.object_table .object_row td.connected_left, .object_table .object_row th.connected_left {
  border-left: none !important;
}
.object_table .object_row td.connected_right, .object_table .object_row th.connected_right {
  border-right: none !important;
}
.object_table .object_row td.extra_padding, .object_table .object_row th.extra_padding {
  padding-left: var(--gw-cell-extra-padding);
  padding-right: var(--gw-cell-extra-padding);
}
.object_table .object_row td.minimal, .object_table .object_row th.minimal {
  white-space: nowrap;
  width: 0.01%;
}
.object_table .object_row td.minimal img img, .object_table .object_row th.minimal img img {
  max-width: none;
}
.object_table .object_row td.no_wrap, .object_table .object_row th.no_wrap {
  white-space: nowrap;
}
.object_table .object_row td.no_padding, .object_table .object_row th.no_padding {
  padding: 0;
}
.object_table .object_row td.image, .object_table .object_row th.image {
  padding-top: 0;
  padding-bottom: 0;
}
.object_table .object_row td.status_message, .object_table .object_row th.status_message {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.object_table .object_row td.vertical_align_top, .object_table .object_row th.vertical_align_top {
  vertical-align: top;
}
.object_table .object_row td.vertical_align_bottom, .object_table .object_row th.vertical_align_bottom {
  vertical-align: bottom;
}
.object_table .object_row td.text_left, .object_table .object_row th.text_left {
  text-align: left;
}
.object_table .object_row td.text_center, .object_table .object_row th.text_center {
  text-align: center;
}
.object_table .object_row td.text_right, .object_table .object_row th.text_right {
  text-align: right;
}
.object_table .object_row td ul, .object_table .object_row th ul {
  margin: 0;
  padding: 0;
}
.object_table .object_row .checkbox_wrapper {
  padding: var(--gw-cell-medium);
}
.object_table thead .object_row td, .object_table thead .object_row th {
  padding: var(--gw-cell-medium);
}
.object_table thead .object_row td a, .object_table thead .object_row th a {
  text-decoration: none;
  color: var(--gw-text-regular);
}
.object_table thead .object_row td a:hover, .object_table thead .object_row th a:hover {
  color: var(--gw-text-link);
}
.object_table .header_text td, .object_table .header_text th {
  border-bottom: 1px solid var(--gw-inner-dark);
}

.object_table thead .object_row th.active_sort_up a::after,
.object_table thead .object_row th.active_sort_down a::after {
  display: inline-block;
  background-image: url("../images/__gwnew/ui_icons/arrow_sort_up.png");
  background-repeat: no-repeat;
  content: "";
  width: 12px;
  height: 12px;
  margin-top: -1px;
  vertical-align: middle;
}

.object_table thead .object_row th.active_sort_down a::after {
  background-image: url("../images/__gwnew/ui_icons/arrow_sort_down.png");
}

.object_table tbody .object_row th {
  text-align: left;
}

.object_table .object_row:not(:first-child) td,
.object_table .object_row:not(:first-child) th,
.object_table thead + tbody .object_row:first-child td,
.object_table thead + tbody .object_row:first-child th,
.object_table tbody + tbody .object_row:first-child td,
.object_table tbody + tbody .object_row:first-child th {
  border-top: 1px solid var(--gw-inner-dark);
}

.object_table .object_row th,
.object_table .object_row td {
  padding: var(--gw-cell-medium);
}

.object_table .object_row.large th,
.object_table .object_row.large td {
  padding: var(--gw-cell-large);
}

.object_table .object_row th.light,
.object_table .object_row.light th,
.object_table .object_row td.light,
.object_table .object_row.light td {
  background: var(--gw-inner-light);
}

.object_table .object_row.blue th,
.object_table .object_row.blue td {
  background: var(--gw-inner-blue);
  border-top: 0;
}

.object_table .object_row td.medium,
.object_table .object_row.medium td {
  background: var(--gw-inner-medium);
}

.object_table .object_row td.dark,
.object_table .object_row.dark td,
.object_table .object_row th.dark,
.object_table .object_row.dark th {
  background: var(--gw-inner-dark);
}

.object_table .object_row .subline {
  margin: 4px 0 0 2px;
  font-size: var(--gw-font-small);
}

.object_table .object_row td:first-child[rowspan],
.object_table .object_row th:first-child[rowspan] {
  border-right: 1px solid var(--gw-inner-dark);
}

.object_table .object_row td:not(:first-child),
.object_table .object_row th:not(:first-child) {
  border-left: 1px solid var(--gw-inner-dark);
}

.object_table .object_table_description {
  border-bottom: 1px solid var(--gw-inner-dark);
}

.object_table .object_row .sections .section .subsection {
  padding-top: 2px;
}

.object_table .object_row .center {
  text-align: center;
}

.object_table .object_row.object_row_attached th,
.object_table .object_row.object_row_attached td {
  border-top: 0;
  padding-top: 0;
}

.object_table .object_row_list {
  margin: 0;
  padding: 0;
}

.object_table .list_columns {
  column-width: 200px;
  width: 420px;
  gap: 20px;
}

.object_table .list_columns label {
  display: block;
}

.object_table .object_row.small,
.object_table .object_row .small {
  font-size: var(--gw-font-small);
}

.object_table .object_row .item_description p {
  margin: 0;
}

.object_table .object_row p {
  margin: 0;
}

.object_table .object_row .icon {
  text-align: center;
}

.object_table .object_row .icon img {
  vertical-align: middle;
}

.object_table .object_row .icon img.gw_posticon {
  box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.2);
}

.object_table .sort_icon {
  margin-bottom: -1px;
}

.object_table .object_row.empty_separator td::before {
  content: " ";
}

.object_table .object_row.empty_separator.thin td::before {
  content: "";
}

.object_table.hide_quick_mod .object_row .quick_mod {
  display: none;
}

.object_table .online_status img {
  display: block;
  position: relative;
  top: 0.5px;
}

.object_table .object_row td.error {
  background-color: #fbcacc;
}

.forum_list.is_child_forums {
  margin-bottom: var(--gw-content-margin);
}

.forum_list .forum_table_list {
  width: 100%;
}

.forum_list .board_row .icon {
  width: 64px;
}

.forum_list .board_row .stats {
  width: 110px;
}

.forum_list .board_row .last_post {
  width: 260px;
}

.forum_list .board_name {
  font-weight: bold;
}

.forum_list .board_information {
  font-size: var(--gw-font-small);
}

.forum_list .moderators {
  font-style: italic;
}

.forum_list .board_children {
  font-style: italic;
}

.forum_list .object_table .object_row th,
.forum_list .object_table .object_row td {
  padding: var(--gw-cell-large);
}

.object_list.post_item {
  margin: 5px 0;
}

.post_item .title .subject .subject_links a {
  color: white;
  text-decoration: none;
}

.post_item .title .subject .subject_links a:hover {
  color: var(--gw-text-light-hover);
}

.post_item .title .subject .subject_links a:not(:first-child)::before {
  content: " ❯ ";
  font-size: 10px;
  position: relative;
  top: -1px;
  padding-left: 4px;
  padding-right: 4px;
  opacity: 0.8;
}

.post_item .title .view_count {
  font-size: var(--gw-font-small);
}

.post_item .post_columns {
  display: flex;
}

.post_item .author_column {
  flex: 0 0 var(--gw-post-column-a);
}

.post_item .post_column {
  flex: 0 0 calc(100% - var(--gw-post-column-a));
}

.post_item .post_column .modified {
  font-style: italic;
  font-size: var(--gw-font-small);
  margin-top: 8px;
}

.post_item .post_meta_top {
  line-height: 20px;
  border-bottom: 1px solid var(--gw-inner-dark);
}

.post_item .post_meta_top .author_column,
.post_item .post_meta_top .post_column {
  line-height: 19px;
}

.post_item .post_meta_top .author_name {
  margin: 0;
  line-height: 20px;
}

.post_item .post_meta_top .author_name a {
  text-decoration: none;
}

.post_item .post_meta_top .date a, .post_item .post_meta_top .date > span {
  color: var(--gw-text-regular);
  font-size: var(--gw-font-small);
  text-decoration: none;
}
.post_item .post_meta_top .date a > span, .post_item .post_meta_top .date > span > span {
  font-weight: bold;
}

.post_item:not(.is_reply_history_post) .post_content {
  padding-bottom: 30px !important;
}

.post_item .post_content.post_content_preview {
  padding-bottom: var(--gw-cell-medium) !important;
}

.post_item .post_content .member_info {
  padding: 5px 0 0 0;
  margin: 0;
  font-size: var(--gw-font-small);
  line-height: var(--gw-line-height-large);
}

.post_item .post_content .member_info .avatar {
  margin-bottom: 6px;
}

.post_item .post_content .member_info .title {
  margin-bottom: 6px;
}

.post_item .post_content .member_info .avatar a,
.post_item .post_content .member_info .avatar img {
  display: block;
}

.post_item .post_content .member_info .avatar img {
  max-width: 150px;
}

.post_item .post_column .sidebar {
  float: right;
}

.post_item .post_meta_bottom {
  padding-bottom: calc(var(--gw-cell-medium) - 1px);
}

.post_item .post_meta_bottom .online_status img {
  margin-top: 2px;
}

.post_item .post_column .signature::before {
  content: "__________________";
  display: block;
}

.post_item.is_ignored .post_item_ignored {
  display: block;
  background-color: var(--gw-inner-medium);
}
.post_item.is_ignored .post_item_ignored .ignore_notification {
  text-align: center;
  font-size: var(--gw-font-small);
  padding: 15px var(--gw-cell-large);
}
.post_item.is_ignored .post_item_ignored .ignore_notification .text {
  font-weight: bold;
}
.post_item.is_ignored .post_item_ignored .ignore_notification .unhide {
  padding-top: var(--gw-cell-large);
  display: block;
}
.post_item.is_ignored .post_item_inner {
  display: none;
}
.post_item.is_ignored.display_ignored_post .post_item_ignored {
  display: none;
}
.post_item.is_ignored.display_ignored_post .post_item_inner {
  display: block;
}

.topic_list .topic_pages {
  font-size: var(--gw-font-small);
  display: inline-block;
}

.topic_list .topic_pages > span {
  font-weight: normal !important;
}

.topic_list .topic_row.is_sticky .subject .link::before {
  content: "Sticky: ";
}

.topic_list .last_post .last_post_time {
  padding-bottom: 2px;
}

.topic_list .last_post .last_post_time strong {
  font-weight: normal;
}

.topic_list .last_post .last_post_icon {
  text-decoration: none;
}

.topic_list .last_post .last_post_icon img {
  vertical-align: text-bottom;
}

.message_table_list td.icon, .message_table_list th.icon {
  width: 64px !important;
}
.message_table_list td.starter, .message_table_list th.starter {
  width: 150px;
}
.message_table_list td.replies, .message_table_list th.replies {
  width: 85px;
}
.message_table_list td.views, .message_table_list th.views {
  width: 85px;
}
.message_table_list td.last_post, .message_table_list th.last_post {
  width: 210px;
}

.new_post_form .post_subject .posticon_prefix {
  align-self: center;
}
.new_post_form .post_subject .posticon_prefix img {
  display: block;
}

.search_form .search_subforums {
  margin-top: 10px;
}

.object_table#stats tbody tr[class=object_row] td {
  background: var(--gw-inner-light);
  text-align: left !important;
}
.object_table#stats tbody tr[class=object_row] td:first-child {
  padding-left: 6ex !important;
}

.user_profile .profile_info {
  flex: 1 0;
}

.user_profile .profile_preview {
  flex: 195px 0;
}

.user_profile.left_side .profile_preview {
  order: -1;
}

.permissions .permission_description {
  width: 50%;
}

.permissions .permission_id {
  width: 25%;
}

.permissions .permission_status {
  width: 25%;
}

.permissions .denied td {
  background: var(--gw-notification-danger-background) !important;
}

.permissions .denied .permission_name {
  color: var(--gw-notification-danger-color);
  text-decoration: line-through;
}

.bar_chart {
  padding: 0;
  margin: 0;
}

.bar_chart .bar {
  float: left;
  width: 4.1666666667%;
  position: relative;
  height: 100px;
  margin-bottom: 20px;
}

.bar_chart .bar .inner {
  width: 12px;
  position: absolute;
  min-height: 1px;
  max-height: 100%;
  left: 50%;
  margin-left: -6px;
  bottom: 0;
  background: var(--gw-outline);
}

.bar_chart .bar .value {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  text-align: center;
  display: block;
  font-size: var(--gw-font-small);
}

@media screen and (max-width: 825px) {
  .bar_chart .bar:nth-child(even) .value {
    visibility: hidden;
  }
}
@media screen and (max-width: 480px) {
  .bar_chart .bar {
    margin-bottom: 0;
  }

  .bar_chart .bar .value {
    display: none;
  }
}
.stats_table td.pie_chart {
  padding: 2px 0 2pxcssvar --gw-cell-medium;
}
.stats_table td.pie_chart .pie_chart {
  width: 20px;
}
.stats_table td.percentage_total {
  min-width: 72px;
  text-align: right;
}

/*# sourceMappingURL=index.css.map */
