<div class="post_emoticons" id="emoticons_selection">
  <div class="iconset">
    {% for emoticon in context.emoticons_metadata.emoticons %}
      {% include 'atoms/emoticon.twig' with {'icon': emoticon} %}
    {% endfor %}
    <button name="more_emoticons" class="button_emoticons" id="button_emoticons">
      Show more
    </button>
  </div>
</div>
