<div class="post_iconsets" id="posticons_selection">
  {% for name, iconset in context.posticons %}
    <div class="iconset">
      {% if name != 'system' %}
        {% for icon in iconset %}
          <label class="posticon">
            <input type="radio" data-basename="{{ icon.basename }}" name="icon" value="{{ icon.value }}" {% if icon.value == context.icon %} checked="checked"{% endif %} />
            {% include 'atoms/posticon.twig' with {'icon': icon, 'no_link': true} %}
          </label>
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
</div>
<script>decorateComponent('posticons');</script>
