<div id="header">
  <div class="blue_component">
    <div id="top_section" class="blue_component_light blue_component_section">
      {% include 'components/layout/header_title.twig' with {'use_linktree': true} %}
    </div>
    <div id="upper_section" class="blue_component_medium blue_component_section">
      {# We add a line showing the number of open moderation reports, for anyone who can mod. #}
      {% if context.user.can_mod and context.open_mod_reports > 0 %}
        <div class="moderation_reports">
          <a href="{{ scripturl }}?action=moderate;area=reports">
            {% if context.open_mod_reports == 1 %}
              There is {{ context.open_mod_reports }} moderator report open.
            {% else %}
              There are {{ context.open_mod_reports }} moderator reports open.
            {% endif %}
          </a>
        </div>
      {% endif %}
      <div class="current_user">
        {% if context.user.is_logged %}
          {# If the user is logged in, display their information. #}
          {# Note: if 'display_unread_links' is true, some additional useful links are shown. #}
          {# These links were not shown in the original GW 2006 design. #}
          {% include 'components/layout/header_user_info.twig' with {'display_unread_links': false} %}
        {% elseif context.show_login_bar is not empty %}
          {# If the user is a guest, display the login form. #}
          {% include 'components/layout/header_login_form.twig' %}
        {% endif %}
      </div>
    </div>
    <div id="menu_section" class="blue_component_header">
      {% include 'components/layout/header_menu.twig' %}
      {% include 'components/layout/header_search_form.twig' %}
    </div>
  </div>
</div>
