<div class="blue_component">
  <div class="blue_component_header">
    <h3 class="blue_component_title">
      {{ context.page_title }}
    </h3>
  </div>
  <div class="blue_component_medium blue_component_section blue_component_primary">
    {{ context.description }}
  </div>
</div>
