<table cellpadding="0" class="columns_table">
  <tr>
    {% for item in items %}
      <td class="column_item">
        {{ item }}
      </td>
      {% if loop.revindex0 != 0 %}
        <td class="column_separator"></td>
      {% endif %}
    {% endfor %}
  </tr>
</table>
