{% set content %}
  <p>Please refine your search results if you can't find what you were looking for.</p>
{% endset %}
{% include 'components/generic/article.twig' with {'title': 'No Results Found', 'content': content} %}
