{% set has_children = context.boards is not empty and (options.show_children is not empty or context.start == 0) %}

{# Action buttons shown at the top of the topic list, e.g. "new topic", "new poll", etc. #}
{% set buttons = {
  new_topic: {
    test: 'can_post_new',
    text: 'new_topic',
    image: 'new_topic.gif',
    lang: true,
    url: scripturl ~ '?action=post;board=' ~ context.current_board ~ '.0',
    active: true
  },
  post_poll: {
    test: 'can_post_poll',
    text: 'new_poll',
    image: 'new_poll.gif',
    lang: true,
    url: scripturl ~ '?action=post;board=' ~ context.current_board ~ '.0;poll'
  }
} %}

{# Action buttons that are shown inside the blue title bar. #}
{% set title_buttons = {
  notify: {
    test: 'can_mark_notify',
    text: context.is_marked_notify ? 'unnotify' : 'notify',
    lang: true,
    custom: 'onclick="return confirm(\'' ~ (context.is_marked_notify ? txt.notification_disable_topic : txt.notification_enable_topic) ~ '\');"',
    url: scripturl ~ '?action=notify;sa=' ~ (context.is_marked_notify ? 'off' : 'on') ~ ';topic=' ~ context.current_topic ~ '.' ~ context.start ~ ';' ~ context.session_var ~ '=' ~ context.session_id
  },
  markread: {
    static_test: context.user.is_logged and show_mark_read,
    text: 'mark_read_short',
    lang: true,
    url: scripturl ~ '?action=markasread;sa=board;board=' ~ context.current_board ~ '.0;' ~ context.session_var ~ '=' ~ context.session_id
  }
} %}

<a id="top"></a>

{% if has_children %}
  {% include 'components/forum/forum_list.twig' with {'child': true, 'context_board_id': context.current_board, 'context_boards': context.boards} %}
{% endif %}

{% if not context.no_topic_listing %}
  {% include 'components/topic_list/topic_list.twig' with {'buttons': buttons, 'title_buttons': title_buttons} %}
{% endif %}

{# TODO #}
{% include 'auxiliary/script_topic.twig' %}
{% include 'auxiliary/script_inline_editing.twig' %}
