{% set xhtml_link = 'http://validator.w3.org/check?uri=referer' %}
{% set rss_link = scripturl ~ '?action=.xml;type=rss' %}
{% set wap2_link = scripturl ~ '?wap2' %}

      </div>
    </div>
  </div>

  <div id="footer_section" class="footer">
    {% include 'components/component_colophon.twig' %}
    {% include 'components/component_git.twig' %}
    {% include 'components/component_alternate.twig' %}
  </div>
</div>
