<div class="footer_items alternate">
  <span class="item wap2">
    <a href="{{ rss_link }}">{{ txt.rss }}</a>
  </span>
  <span class="item rss">
    <a href="{{ wap2_link }}">Low bandwidth version</a>
  </span>
</div>
