<div class="object_list">
  <div class="blue_component">
    <div class="blue_component_header">
      <h3 class="blue_component_title">{{ context.page_title }}</h3>
    </div>
    <div class="blue_component_light blue_component_section blue_component_primary">
      <div class="post_text post_line_height">
        {{ content|raw }}
      </div>
    </div>
  </div>
</div>
