<div id="header">
  <div class="blue_frame">
    <div id="top_section">
      <h1 class="forumtitle">
        <a href="{{ scripturl }}">{{ context.forum_name }}</a>
      </h1>
    </div>
    <div id="upper_section">
      <div class="current_user_info">
        {% if context.user.is_logged %}
          {# If the user is logged in, display their information. #}
          {% include 'components/header_user_info.twig' %}
        {% elseif context.show_login_bar is not empty %}
          {# If the user is a guest, display the login form. #}
          {% include 'components/header_login_form.twig' %}
        {% endif %}
      </div>
    </div>
    <div id="menu_section" class="blue_gradient">
      {% include 'components/header_menu.twig' %}
      {% include 'components/header_search_form.twig' %}
    </div>
  </div>
</div>
