{% set icon_data = get_filetype_icon(filename) %}

<span class="filetype_icon">
  <img class="pixel" src="{{ images_url }}/__mime/{{ icon_data[0] }}" alt="Icon for filetype: {{ icon_data[1] }}" width="20" height="22" />
</span>
