{% set content %}
  <p>{{ txt.pm_report_done }}</p>
  <a href="{{ scripturl }}?action=pm;l={{ context.current_label_id }}">{{ txt.pm_report_return }}</a>
{% endset %}

{% include 'components/generic/article.twig' with {'title': txt.pm_report_title, 'content': content} %}
