{% set form_action = scripturl ~ '?action=pm;sa=search2' %}

<script type="text/javascript">
  function expandCollapseLabels()
  {
    var current = document.getElementById("searchLabelsExpand").style.display != "none";

    document.getElementById("searchLabelsExpand").style.display = current ? "none" : "";
    document.getElementById("expandLabelsIcon").src = smf_images_url + (current ? "/table_expand.gif" : "/table_collapse.gif");
  }
</script>

<form action="{{ form_action }}" method="post" accept-charset="{{ context.character_set }}" name="search_form" id="search_form">
  {# Include various info or error messages if they are applicable. #}
  {% if context.search_errors %}
    {% set reasons %}
      <ul class="reasons" id="post_error_list">
        {{ context.search_errors.messages|map(m => "<li>#{m}</li>")|join('\n')|raw }}
      </ul>
    {% endset %}
    {% include 'atoms/notification.twig' with {'type': 'danger', 'content': txt.error_while_submitting, 'content_sub': reasons} %}
  {% endif %}

  {% if context.simple_search %}
    {% include 'components/pm/pm_search_simple.twig' %}
  {% else %}
    {% include 'components/pm/pm_search_advanced.twig' %}
  {% endif %}
</form>
